.card-link{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.card{
    width: 18.8rem !important;
    margin-bottom: 2rem;
    height: 202px;
}
.card-text{
    width: 200px;
}
.alignment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}